/************************ 共通 ******************************
*****************************************************************/
.body {
  height: 100vh;
  width: 599px;
}

.header_menu {
  width: 375px;
  display: flex;
  justify-content: center;
  margin-top: 0;
}

.header_link_positive {
  font-size: 18px;
  height: 45px;
  width: 100%;
  background-color: rgb(235, 129, 129);
  text-align: center;
  padding: 10px 10px;
}

.header_link_negative {
  font-size: 18px;
  height: 45px;
  width: 100%;
  background-color: rgb(87, 149, 199);
  text-align: center;
  padding: 10px 10px;
}

.header_link{
  font-size: 18px;
  text-decoration: none;
}
.tags {
  height: 35px;
  width: 300px;
}
.first_dog {
  width: 300px;
  background-position: center;
}

.context {
  width: 300px;
  height: 50px;
}
.question {
  text-align: center;
}

.form{
  text-align: center;
}

/************************ ログイン、新規登録 ******************************
*****************************************************************/
.sign_main {
  height: auto;
  background-color: rgb(255, 255, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sign_title_content {
  margin: auto;
  text-align: center;
}
.emorecord_title {
  font-family: "Delius Unicase", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  margin: auto;
  color: rgb(207, 97, 18);
}

.message{
  font-family: "Asap", sans-serif;
  font-optical-sizing: auto;
  font-size: 25px;
  margin: auto;
  color: rgb(63, 63, 63);
}

.login_signin {
  color: rgb(63, 63, 63);
  margin: 5px;
}

.input-default {
  height: 35px;
  width: 200px;
  border-radius: 5px;
  border: solid,1px, rgb(190, 186, 186);
}

.sub_btn {
  background-color: rgb(240, 215, 105);
  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 600;
  height: 40px;
  width: 200px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}





/* スマホ表示時 */
@media (max-width: 599px) {
  
}